language: c

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

env:
  - debug=1
  - debug=0

script:
  - make -j2
  - sh -c ./scripts/tests.sh

notifications:
  email:
    on_success: change
    on_failure: always
