language: c

sudo: false

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

env:
  - debug=1

matrix:
  exclude:
    - os: osx
      compiler: gcc

addons:
  apt:
    packages:
      - clang-format
      - valgrind

before_install:
    - echo "$TRAVIS_OS_NAME"
    - brew update               || true;
      brew install clang-format || true;
      brew install valgrind     || true;

script:
  - make -j2
  - sh -c ./scripts/tests.sh

notifications:
  email:
    on_success: change
    on_failure: always
